.border {
    width: 100%;
    border: 1px solid black;
}

.backgroundimg {
    background-image: url(images/Background-King-on-King.png);
    background-repeat: repeat;
}

.contactus .glyphicon {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.contactus p.h2 {
    color:#336699;
}

.contactus p.inline {
    font-size: 20px;
    font-weight: bold;
}

.embroideryimage {
    background-image: url(images/Embroidery-Service-Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.workuniformimage {
    background-image: url(images/Work-Uniforms-Background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#title {
    color: white;
}



.getaquote {
    height: auto;;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-size: cover;
    background-color:#f34;
    
}
.getaquote img {
    margin-top: auto;
    margin-bottom: auto;
}
.nav-pills>li>a {
    line-height: 70px;
    color: #Fff;
    font-size: 18px;
}

.nav-pills>li>a:hover {
    color: #cc3333;
}

.footer {
    background-color: black;
    color: white;"
}

.footer li {
    list-style-type: none;
}

.footer-logo {
    width: 300px;
    margin: auto;
}

.getaquotetext {
    color: #ffcc33;
    padding: 10px
}

.getaquotetext p {
    font-size: 36px;
    font-family: "Helvetica";
}

.getaquotetext button {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;

    
}
.block {
    display: block;
}

.inline {
    display: inline;
}
.getaquotebox {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    background-color: #003366;
    border: 10px solid white;
    color: #fff;
}

.getaquotebox input, label {

}

.getaquotebox p.description {
    margin: 20px;
    color: #fff;
    font-size: 20px;
    border: 1px solid white;
    padding: 4px;
}

.

.navigationlinks {
    list-style-type: none;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

ul.navigationlinks {
    padding-left: 0px;
    font-size: 16px;
}

.iconclick {
    margin-top: 30px;
    border: 1px solid white
}
.iconclickbottom {
    margin-bottom: 30px;
}
.iconclick:hover{
    background-color: #f0f0f0;
    text-transform: none;
    border: 1px solid black;
}

.iconclick h3 {
  font-family: 'Open Sans', sans-serif;

}

.iconclick:hover h3{
    color: #cc3333;
    text-decoration: none;
    text-decoration-style: none;
}

img.headerimage {
    width: 250px;
}


.imagesOfSuppliers img {
    height: 100px;
    width: auto;
    padding: 20px;
}

.row {

}

.headerimg {

}

.navbar-nav li a {
 line-height: 10px;
}

.navbar.navbar-default {
    background-color: black;
}

.labelposition {
}

.inputposition {
    display: inline;
    margin-top: 100px;
}

